.ButtonList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.CounterButton {
  padding: 0;
  height: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid 1px #666666;
}

.Single {
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px 0 0 10px;
}

.Double {
  color: white;
  background-color: #222222;
  border: none;
}

.Triple {
  color: white;
  background-color: #444444;
  border: none;
  border-radius: 0 10px 10px 0;
}
